* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  padding: 1rem 0;
  font-size: 16px;
}

h1,
.links {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  text-align: center;
}
.loader {
  display: block;
  margin: 2rem auto;
  width: 4rem;
  height: 4rem;
  border: 6px solid #111;
  border-radius: 0 50% 50% 50%;
  animation: spin 1s infinite linear;
}

figure {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  min-height: 162px;
}
figcaption {
  text-transform: capitalize;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
