// Colors

// ### Discover

// ## Types Gradients

$bug-type-c1: rgb(0, 151, 0);
$bug-type-c2: green;
$bug-type-bg: linear-gradient(to bottom, $bug-type-c1, $bug-type-c2);

$dark-type-c1: green;
$dark-type-c2: green;
$bug-type-bg: linear-gradient(to bottom, $bug-type-c1, $bug-type-c2);

$dragon-type-c1: green;
$dragon-type-c2: green;

$electric-type-c1: green;
$electric-type-c2: green;

$fairy-type-c1: green;
$fairy-type-c2: green;

$fighting-type-c1: green;
$fighting-type-c2: green;

$fire-type-c1: green;
$fire-type-c2: green;

$flying-type-c1: green;
$flying-type-c2: green;

$ghost-type-c1: green;
$ghost-type-c2: green;

$grass-type-c1: rgb(0, 158, 0);
$grass-type-c2: rgb(0, 110, 0);
$grass-type-bg: linear-gradient(to bottom, $grass-type-c1, $grass-type-c2);

$ground-type-c1: green;
$ground-type-c2: green;

$ice-type-c1: green;
$ice-type-c2: green;

$normal-type-c1: green;
$normal-type-c2: green;

$poison-type-c1: rgb(95, 51, 255);
$poison-type-c2: rgb(56, 24, 170);
$poison-type-bg: linear-gradient(to bottom, $poison-type-c1, $poison-type-c2);

$psychic-type-c1: green;
$psychic-type-c1: green;

$rock-type-c2: green;
$rock-type-c2: green;

$steel-type-c2: green;
$steel-type-c2: green;

$water-type-c2: green;
$water-type-c2: green;
