.card-container {
  display: flex;
  width: 272px;
  height: 384px;
  margin: 2rem;
}

.card {
  width: 272px;
  height: 384px;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 272px;
  grid-template-rows: 224px 160px;

  overflow: hidden;

  color: #222;

  position: relative;

  cursor: pointer;

  .pictures {
    width: 100%;
    height: 100%;
    position: relative;

    .background {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        filter: blur(2px);
      }
    }

    .pokemon {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;

      transition: filter 0.2s ease-in-out;

      &:hover {
        transition: none;
        filter: brightness(1.125);
      }

      img {
        // width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &.ready {
          opacity: 1;
        }
      }
    }

    .icon {
      width: 64px;
      height: 64px;

      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 20;

      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";

        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;

        position: absolute;
        top: 0;
        left: 0;
      }

      svg {
        position: relative;
        z-index: 10;
        width: 56px;
        height: 56px;
      }
    }
  }

  .info {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .types {
      display: flex;
      justify-content: flex-start;
      // margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 32px;
      line-height: 32px;
    }
    h3 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 32px;
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  // margin: 0.25rem;
  // margin-left: auto;
  color: #fff;

  transition: filter 0.2s ease-in-out;

  &:hover {
    transition: none;
    filter: brightness(1.25);
  }

  p {
    font-size: 18px;
    line-height: 18px;
  }

  &.bug {
    background: $bug-type-bg;
  }
  &.dark {
    background: $dark-type-bg;
  }
  &.dragon {
    background: $dragon-type-bg;
  }
  &.electric {
    background: $electric-type-bg;
  }
  &.fairy {
    background: $fairy-type-bg;
  }
  &.fighting {
    background: $fighting-type-bg;
  }
  &.fire {
    background: $fire-type-bg;
  }
  &.flying {
    background: $flying-type-bg;
  }
  &.ghost {
    background: $ghost-type-bg;
  }
  &.grass {
    background: $grass-type-bg;
  }
  &.ground {
    background: $ground-type-bg;
  }
  &.ice {
    background: $ice-type-bg;
  }
  &.normal {
    background: $normal-type-bg;
  }
  &.poison {
    background: $poison-type-bg;
  }
  &.psychic {
    background: $psychic-type-bg;
  }
  &.rock {
    background: $rock-type-bg;
  }
  &.steel {
    background: $steel-type-bg;
  }
  &.water {
    background: $water-type-bg;
  }
}
