.card {
  width: 416px;
  height: 240px;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 224px 192px;
  grid-template-rows: 240px;

  overflow: hidden;
  margin: 2rem;
  color: #222;

  .pictures {
    width: 100%;
    height: 100%;
    position: relative;

    .background {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      display: flex;
      justify-content: center;

      img {
        height: 100%;
        filter: blur(2px);
      }
    }

    .pokemon {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &.ready {
          opacity: 1;
        }
      }
    }
  }

  .info {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 1.5rem;

    h2 {
      font-size: 32px;
      line-height: 32px;
      text-align: right;
    }
    h3 {
      font-size: 24px;
      line-height: 24px;
      text-align: right;
    }
  }
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  margin-left: auto;
  color: #fff;

  &.bug {
    background: $bug-type-bg;
  }
  &.dark {
    background: $dark-type-bg;
  }
  &.dragon {
    background: $dragon-type-bg;
  }
  &.electric {
    background: $electric-type-bg;
  }
  &.fairy {
    background: $fairy-type-bg;
  }
  &.fighting {
    background: $fighting-type-bg;
  }
  &.fire {
    background: $fire-type-bg;
  }
  &.flying {
    background: $flying-type-bg;
  }
  &.ghost {
    background: $ghost-type-bg;
  }
  &.grass {
    background: $grass-type-bg;
  }
  &.ground {
    background: $ground-type-bg;
  }
  &.ice {
    background: $ice-type-bg;
  }
  &.normal {
    background: $normal-type-bg;
  }
  &.poison {
    background: $poison-type-bg;
  }
  &.psychic {
    background: $psychic-type-bg;
  }
  &.rock {
    background: $rock-type-bg;
  }
  &.steel {
    background: $steel-type-bg;
  }
  &.water {
    background: $water-type-bg;
  }
}
