@import-normalize;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 2rem;
  position: relative;
}

body {
  background-color: #161616;
}

// Disable scrolling on mobile
// .no-touch-action {
//   touch-action: none;
// }

a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}
